#others-bar-container {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;

  width: 260px;
  height: 100vh;
  padding-top: 61px;
  padding-bottom: 5px;
  overflow-y: auto;
  overflow-x: hidden;

  background-color: var(--secondary-color);
  border-right: solid 1px var(--tertiary-color);
}

#others-bar-container::-webkit-scrollbar {
  width: 6px;
}

#others-bar-container::-webkit-scrollbar-thumb {
  background-color: var(--tertiary-color);
  border-radius: 5px;
}

.others-group {
  width: 100%;
  height: fit-content;
  padding: 16px;
  border-bottom: solid 1px var(--tertiary-color);

  display: flex;
  flex-direction: column;
}

.component-tree-list .component-tree-label {
  padding-bottom: 10px;
}

.component-tree-list .component-tree-label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.component-tree-list .list {
  padding: 0 16px;
  border: solid 1px var(--secondary-color);

  cursor: pointer;
}

.component-tree-list .component-tree-item {
  padding-left: 40px;
}

.others-group .frame {
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
}

.others-group #frame-per-second-input {
  height: 30px;
  width: 50px;
  padding: 0 8px;
  border: none;
  text-align: end;
  background-color: var(--primary-color);
  border-radius: 3px;
  color: var(--text-color);
}

.others-group .frame .frame-btn {
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.others-group .frame-label {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
}

#basic-ambient {
  background-color: transparent;
  border: none;
  border-radius: 3px;
}

#phong-ambient, #phong-diffuse, #phong-specular {
  background-color: transparent;
  border: none;
  border-radius: 3px;
}

.material .color-input {
  width: 100%;
  height: fit-content;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.others-group .material {
  padding: 0px 12px;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
}

.material #material-type, #texture-diffuse, #texture-normal, #texture-specular, #texture-displacement, #texture-options, #tweening-type {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.others-group .material .color-input, .others-group .material .input, .others-group .material #bump-map {
  margin-bottom: 5px;
}

.others-group .material .color-input input {
  cursor: pointer;
}

.material .input {
  display: flex;
  justify-content: space-between;
}

.input .prop-input {
  height: 30px;
  width: 50px;
  padding: 0 8px;
  border: none;
  text-align: end;
  background-color: var(--primary-color);
  border-radius: 3px;
  color: var(--text-color);
}

.frame-input {
  width: 50px;
  padding: 0 8px;
  border: none;
  text-align: end;
  background-color: var(--primary-color);
  border-radius: 3px;
  color: var(--text-color);
}